body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    margin-top: 150px;
}

.container .note {
    width: 20%;
    background-color: lightcoral;
    padding: 15px;
    border: 3px solid black;
}

.note h1 {
    text-align: center;
}

.title {
    text-align: center;
}

.container #calendar {
    height: auto;
    width: 80%;
    padding: 15px;
}


.legende {
    gap: 10px;
    margin-top: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    right: 20px;
    top: 20px;
}

.legende-color {
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 11px;
}

.legende span {
    display: block;
    height: 30px;
    width: 30px;
}

.color-picker {
    display: flex;
    gap: 10px;
}

.color-square {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid transparent;
}

.color-square.selected {
    border: 2px solid black;
}

/* Style pour la modal */
.modal {
    display: none; /* Par défaut, la modal est cachée */
    position: fixed;
    z-index: 2 !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Style pour le formulaire à l'intérieur de la modal */
#eventForm {
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 25px;
}

#eventForm .desc-modal {
    width: 80%;
}

#eventForm .desc-modal textarea {
    min-height: 350px;
}

.form-control {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.color-picker {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.color-square {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.color-square.selected {
    border-width: 3px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #0056b3;
}

.top-modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.ce-toolbar__actions {
    width: 750px !important;
    right: -50px;
}

.ce-toolbar__settings-btn {
    position: absolute;
    right: 0;
}

.ce-settings {
    position: absolute;
    right: 0;
}

.ce-block__content {
    background-color: lightgrey;
}

.ce-toolbar__plus {
    display: none;
}

.draggable-box {
    width: 150px;
    height: 100px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: move;
    text-align: center;
}

.draggable-box p {
    margin: 0;
}

/* Style pour le bouton d'ajout de note */
.add-note-btn {
    font-size: 24px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* Style pour la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.note-item {
    background-color: white;
}

/* Style pour l'icône de suppression dans le modal de modification */
.delete-note-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.delete-note-btn:hover {
    background-color: darkred;
}